.total-side-bar {
    height: 100%;
}

.student-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.page-icons-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.side-profile {
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 0px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 10px 0px;
    flex: 1;
    border-radius: 5px;
}

.joImg {
    height: 350px;
    border-radius: 5px;
}

.info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.drawer {
    background-color: #252734;
    width: 90%;
    height: 90%;
    flex: 2;
    border-radius: 20px 20px 0px 0px;
    border: 10px solid #191b23;
    bottom: 0;
    position: absolute;
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
}

.pdf-view {
    height: 93%;
}

.button{
    background-color: #12c5d1;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;

}


/* top-nav */

.total-top-nav {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a7a7a7;
}