body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white
}

.total-app {
  height: calc(100vh - 0px);
  width: calc(100vw - 0px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: rgb(197, 197, 197);
  gap: 1px;
  overflow: hidden;
}

.topbar-and-scroll-div {
  flex: 25;
  background-color: rgb(197, 197, 197);
  display: flex;
  flex-direction: row;
  gap: 0.5px;
}

.top-nav {
  flex: 2;
  background-color: var(--background);
}

.scroll-div {
  flex: 25;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: var(--grad);
}

.side-nav {
  background-color: var(--background);
  flex: 1;
}



.down-nav {
  position: absolute;
  bottom: 0;
  background-color: var(--background);
  border-top: 2px solid var(--icons);
  width: 100%;
  display: none;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 900px){
  .side-nav{
    display: none;
  }
  .down-nav{
    display: block;
  }
}