body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 0% 5%, #d47197, transparent 10%), radial-gradient(circle at 100% 90%, #d47197, transparent 15%), radial-gradient(circle at center, #222831, #222831);
}

.total-app {
  height: calc(100vh - 20px); 
  width: calc(100vw - 20px); 
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.my-container{
  flex: 1;
  background-color: black;
  border-radius: 5px;
}

.topnav-and-content{
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topnav{
  flex: 1;
  background-color: #d47197;
  border-radius: 5px;
}

.content{
  flex: 11;
  background-color: antiquewhite;
  border-radius: 5px;
}


