/* .total-content{
    
} */

.top-component {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background);
    height: 55px;
}

.home {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-white {
    filter: url(#removeWhite);
}

.large-name {
    font-size: 65px;
    margin: 0px;
}


.text-area-home {
    height: 50%;
    width: 70%;
    display: flex;
    gap: 10%;
    align-items: center;
}

@media (max-width: 999px) {
    .text-area-home {
        flex-direction: column;
    }

    .large-name {
        font-size: 50px;
        margin: 0px;
    }
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    font-size: 20px;
    font-weight: bold;
    color: var(--icons);
}

.home-img {
    height: 100%;
    animation: float 5s ease-in-out infinite;
    width: 40%;
    min-width: 300px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Adjust the floating distance as needed */
    }
}




/* ABOUT */





.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icons);
}


.paragraph {
    font-size: 16px;
    color: var(--icons);
    font-weight: 700;
    letter-spacing: 0px;
    text-indent: 5rem;
}

.page-content {
    height: 100%;
    width: 90%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.page-contents {
    height: 100%;
    width: 90%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--icons);
}

@media (max-width:999px) {

    .page-contents {
        flex-direction: column;
        height: fit-content;
        padding: 20px;
        padding-top: 80px;
    }

    .page-content {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 10px;
    }

    .contact-img {
        position: absolute;
        top: -30px;
        left: -30px;
        max-width: 80px;
        background-color: var(--background);
        border-radius: 100px;
        box-shadow: 0px 0px 5px var(--icons);
    }

}

.floating-box {
    padding: 12px 15PX;
    border: 2px solid var(--icons);
    margin: 5px;
    width: fit-content;
    color: var(--icons-rev);
    letter-spacing: 0px;
    font-weight: 700;
    border-radius: 5px;
    background-image: var(--float);
}

.image-section {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-around;
    flex: 1;
}

.content-section {
    flex: 2.5;
}

.topics {
    color: var(--text);
}

.sample {
    width: 50%;
}

.text-area-about,
.text-area-skills,
.text-area-projects {
    /* background-color: gray; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 90%;
}

.text-area-about>p,
.text-area-skills>p,
.text-area-projects>p {
    margin: 0;
}






/* SKILLS */



.skills {
    width: 100%;
    min-height: 100vh;
    /* You may want to adjust this depending on your layout needs */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icons);
    flex-direction: column;
    /* Ensure items stack vertically */
}

/* .category {
    margin-bottom: 30px;
} */

.skillss ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    display: flex;
    /* Use flexbox for the list */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-between;
    /* Space out items evenly */
}

.skillss li {
    margin: 7px;
    /* Adjust margin for spacing */
    flex: 1 0 18%;
    /* Allow items to grow and shrink with a base width of 18% */
    display: flex;
    flex-direction: column;
    /* Stack image and progress vertically */
    align-items: center;
    /* Center align items */
    background-color: var(--background);
    box-shadow: 0px 0px 5px var(--icons);
    border-radius: 5px;
    padding: 10px;
    min-width: 180px;
}

.progress-bar {
    width: 100%;
    background-color: var(--background-1);
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.progress {
    height: 100%;
    background-color: var(--icons-rev);
    border-radius: 5px;
    transition: width 2s ease-in-out;
}

.percentage {
    margin-left: 5px;
    color: var(--icons);
}

/* Responsive Styles */
@media (max-width: 768px) {
    li {
        flex: 1 0 48%;
        /* Adjust to 2 skills per row on tablets */
    }
}

@media (max-width: 480px) {
    li {
        flex: 1 0 100%;
        /* Adjust to 1 skill per row on mobile */
    }
}




/* PROJECTS */
.projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icons);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 10px;
    width: 100%;
    height: fit-content;
    grid-gap: 25px;
}

.box {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border-left: 5px solid var(--icons);
    padding: 10px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    border-radius: 5px;
    gap: 10px;
    background-color: var(--card);
    box-shadow: var(--icons) 0px 1px 2px 0px, var(--icons) 0px 0px 0px 0px;
    cursor: pointer;
    /* width: 50%; */
}



.box:before,
.box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: var(--card);
    transition: 0.3s;
    z-index: -1;

}


.box:hover:before {
    transform: rotate(-5deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    background-color: var(--icons);
}

.box:hover:after {
    transform: rotate(0deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    transform: scale(1.03);
    box-shadow: var(--icons) 0px 1px 4px 1px, var(--icons) 0px 2px 0px 0px;

}


.inventory-img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    background-color: white;
    border-radius: 5px;
}

.project-image {
    flex: 1;
}

.project-info {
    flex: 2;
    text-align: left;
}

.project-title {
    font-size: 17px;
    color: var(--icons);
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0;
}

.role {
    font-size: 13px;
    margin: 0px;
    color: var(--text);
}







/* 


.ribbon {
    font-size: 20px;
    font-weight: boldz;
    color: #fff;
    position: relative;
    bottom: 152px;
}

.ribbon {
    --f: .5em;
    
    --r: .8em;
    

    position: absolute;
    top: 5;
    left: calc(-1*var(--f));
    padding-inline: .25em;
    line-height: 1.8;
    background: var(--icons);
    border-bottom: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path:
        polygon(calc(100% - var(--r)) 0, 0 0, 0 calc(100% - var(--f)), var(--f) 100%,
            var(--f) calc(100% - var(--f)), calc(100% - var(--r)) calc(100% - var(--f)),
            100% calc(50% - var(--f)/2));
}
 */









.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icons);
}

.contact-icons {
    padding: 2px 10px;
    position: absolute;
    background-color: var(--background);
    top: 88vh;
    left: -10px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: 0.2px solid rgb(167, 167, 167);
}

.each-icon {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.each-icon:hover {
    transform: scale(1.07);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.contact-icons {
    animation: slideInFromLeft 1s ease-in-out forwards;
}


.contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
}


.text-area-skills {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: var(--icons);
}

/* .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
   
    border-radius: 10px;
} */

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 10px 0px;
    border: 2px solid var(--icons);
    border-radius: 5px;
    background-color: var(--background-1);
    color: var(--icons);
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;

}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: var(--icons) 0px 1px 4px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: var(--icons);
    color: var(--background);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--icons-rev);
}

textarea {
    resize: vertical;
    min-height: 120px;
}


.contact-form label {
    align-self: flex-start;
    font-size: 16px;
    color: var(--text);
    font-weight: bold;
}

.contact-img {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    object-fit: contain;
    flex: 1; */
    width: 40%;
    height: auto;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake-animation {
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: 4;
    /* Shake for 2 seconds */
}